footer {
  .footer-container {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: $grey;
    padding: 2.2rem 3.6rem;

    @media (min-width: $desktop) {
      flex-direction: row;
      padding: 2.6rem 21.8rem 2rem;
    }

    .container {
      @media (min-width: $desktop) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: .2rem;
      }

      h4 {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0.625rem;

        @media (min-width: $desktop) {
          margin-bottom: 1.3rem;
        }
      }

      nav ul li {
        font-size: 0.875rem;
        font-weight: 400;
        margin-bottom: 0.94rem;
        transition: 0.3s ease;
        cursor: pointer;

        &:hover {
          color: $blue;
        }

        @media (min-width: $desktop) {
          margin-bottom: 0.625rem;
        }
      }
      .footer-logo {
        display: flex;
        justify-content: center;

        @media (min-width: $desktop) {
          margin-right: 6rem;
          padding-left: .5rem;
        }
        h3 {
          font-size: 2.5rem;
          font-weight: 400;

          @media (min-width: $desktop) {
            font-size: 2rem;
            letter-spacing: -1px;
          }
        }
        img {
          width: 47px;
          height: 47px;
          margin-right: 0.625rem;

          @media (min-width: $desktop) {
            width: 36px;
            height: 36px;
          }
        }
      }
      .social-media {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.94rem;
        margin: 2.2rem 0;
        cursor: pointer;

        @media (min-width: $desktop) {
          justify-content: flex-start;
          margin-top: 0;
          margin-left: .5rem;
          margin-bottom: 3rem;
        }
      }
      .contact {
        margin-bottom: 2.2rem;
        text-align: center;
        display: grid;

        @media (min-width: $desktop) {
          text-align: start;
          margin-right: 3.8rem;
        }

        h4 {
          margin-bottom: 1rem;
        }

        .phone {
          img {
            margin-right: 0.75rem;
          }

          strong {
            font-size: 1.6rem;
            font-weight: 700;
            letter-spacing: -0.5px;
          }
        }
        .hours {
          font-size: 0.875rem;
          font-weight: 400;
        }
        .email {
          h4 {
            @media (min-width: $desktop) {
              margin-top: 1.6rem;
            }
          }
          strong {
            font-weight: 400;
          }
        }
      }
      .order {
        padding: 1.25rem 0.94rem;
        border-top: 1px solid white;
        border-bottom: 1px solid white;

        @media (min-width: $desktop) {
          border: 0;
          padding: 0;
          margin-right: 3.5rem;
        }
      }

      .my-account {
        @media (min-width: $desktop) {
          margin-right: 4.9rem;
        }
      }
      .extensible {
        padding: 1.25rem 0;
        border-bottom: 1px solid white;
        cursor: pointer;

        @media (min-width: $desktop) {
          padding: 0;
          border-bottom: 0;
        }

        nav {
          @media (max-width: $desktop) {
            padding-top: 2.5rem;
          }
        }
        .mobile-title {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  .footer-of-footer {
    background-color: white;
    display: grid;
    place-items: center;
    padding: 0.625rem;

    @media (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
      padding: .4rem 19vw;
    }

    img {
      order: 1;
      @media (min-width: $desktop) {
        order: 2;
        margin-right: -2rem;
      }
    }
    strong {
      order: 2;
      font-size: 0.75rem;
      font-weight: 400;

      @media (min-width: $desktop) {
        order: 1;
      }
    }
  }
}
