.hero {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;

  @media (min-width: $desktop) {
    padding: 0 20vw;
    margin-bottom: 1.8rem;
  }

  .hero-slider {
    @extend .center;
    flex-direction: column;

    &-navigation {
      display: flex;
      align-items: flex-start;
      margin-top: -2rem;

      span {
        background-color: $grey;
        border-radius: 50%;
        width: 0.5rem;
        height: 0.5rem;
        margin-top: 1rem;
        margin-right: 0.4rem;
        cursor: pointer;

        &.active {
          width: 1.6rem;
          border-radius: 10px;
        }
      }
    }

    .hero-slide {
      display: grid;
      place-items: center;
      width: 100%;

      @media (min-width: $desktop) {
        display: flex;
        justify-content: space-evenly;
        padding: .4rem 3.3rem;
      }

      &-text {
        display: grid;
        place-items: center;
        order: 2;

        @media (min-width: $desktop) {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          text-align: left;
          order: 1;
        }

        h2 {
          font-size: 2rem;
          font-weight: 600;
          margin-bottom: 1rem;
          line-height: 2.2rem;
          letter-spacing: -1px;
          
          strong {
            font-weight: 600;
          }
        }

        span {

          @media (min-width: $desktop) {
            align-self: flex-start;
          }
        }

        button {
          @extend .grey-button;
          width: 8rem;
          height: 2.2rem;
          margin: 1.2rem 0;

          @media (min-width: $desktop) {
            width: 11rem;
            align-self: flex-start;

          }
        }
      }
      &-image {
        position: relative;
        width: 50%;
        height: 27rem;
        order: 1;

        @media (min-width: $desktop) {
          order: 2;
        }

        &::before {
          content: '';
          background-image: url('./images/water-circle.png');
          background-repeat: no-repeat;
          display: inline-block;
          background-size: 30rem 25rem;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 3%;
          left: 10%;

          @media (max-width: $desktop) {
            display: none;
          }
        }
        &::after {
          content: '';
          background-image: url('./images/filters.png');
          background-repeat: no-repeat;
          display: inline-block;
          background-size: 35rem 35rem;
          position: absolute;
          top: -2%;
          left: 13%;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
