@import '../../variables.scss';

.logo {
  display: flex;
  align-items: center;

  .logo-icon {
    margin-right: 0.4rem;
    width: 36px;
    height: 36px;
  }
  .logo-text {
    font-family: 'Questrial', sans-serif;
    color: $blue;
  }
}
