@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Questrial&display=swap');
@import './variables.scss';
@import './components/headerComponent/header.scss';
@import './components/heroComponent/hero.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-width: 375px;
  height: 100vh;

  &.open .mobile-menu {
    display: grid;
  }

  &.open .row-down {
    display: block;
  }

  &.open nav .products-menu li {
    color: $blue;
    border-bottom: 1px solid #eceef3;
  }

  aside {
    width: 100vw;
    background-color: #eff0f5;
    padding: 0.5rem 18vw;
    margin-bottom: 1.44rem;
    text-align: center;

    p {
      font-size: 0.88rem;
    }
  }
  section.benefits {
    width: 100vw;
    padding: 1.25rem;
    background-color: $blue;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    @media (min-width: $tablet) {
      grid-template-columns: repeat(4, 1fr);
      padding: 0 20vw;
    }

    & .benefit {
      padding: 1.5rem;
      display: grid;
      place-items: center;

      @media (min-width: $tablet) {
        display: flex;
      }

      & .benefits-icon {
        margin-bottom: 0.62rem;

        @media (min-width: $tablet) {
          margin-bottom: 0;
          margin-right: 0.94rem;
        }
      }
      & strong {
        font-size: 0.875rem;
        font-weight: 700;
        text-align: center;

        & span {
          text-align: center;
          
          &.mobile {
            @media (min-width: $tablet) {
              display: none;
            }
          }
          
          &.desktop {
            display: none;
            @media (min-width: $tablet) {
              display: inline;
            }
          }
        }
      }
    }
  }
}

html {
  font-family: 'Poppins', sans-serif;
}
