@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Questrial&display=swap');
@import './variables.scss';
@import './components/headerComponent/header.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-width: 375px;
  height: 100vh;

  aside {
    width: 100vw;
    background-color: #eff0f5;
    padding: 0.5rem 18vw;
    margin-bottom: 1.44rem;
    text-align: center;

    p {
      font-size: 0.88rem;
    }
  }
  section.benefits {
    width: 100vw;
    background-color: $blue;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 18vw;

    & .benefit {
      @extend .center;
      padding: 1.5rem;
      flex-basis: 50%;
      display: grid;
      gap: 0.94rem;
      place-items: center;

      @media (min-width: 1580px) {
        flex-basis: 25%;
        gap: 0;
        display: flex;
      }

      & .benefits-icon {
        margin-bottom: 0.62rem;

        @media (min-width: 1580px) {
          margin-bottom: 0;
          margin-right: 0.94rem;
        }
      }
      & strong {
        font-size: 0.875rem;
        font-weight: 700;
        text-align: center;
      }
    }
  }
}

html {
  font-family: 'Poppins', sans-serif;
}
